.detail {
    position: relative;
    .bg {
        position: fixed;
        top: 0;
        left: 0;
        background: $black;
        @include size(100vw,100vh);
        z-index: 0;
        img {
            @include size(100%,100%);
            object-fit: cover;
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            @include size(100%,100%);
            background: $black;
            mix-blend-mode:multiply;
            opacity: 0.85;
        }
    }
    .movie {
        display: flex;
        @include size(100%,auto);
        position: relative;
        border: 0;
        padding-top: 30vh;
        color: $white;
        margin: 0;
        &:before {
            content: '';
            position: absolute;
            bottom: 100%;
            left: 0;
            @include size(100%,40vh);
            background-image: linear-gradient(to top, $black, transparent);
        }
        .content {
            display: flex;
            @extend %flexStartBetween;
        }
        &__data {
            width: 50%;
            &-title {
                font-size: 5em;
                line-height: 1em;
            }
            &-description {
                line-height: 1.5em;
            }
        }
        &__poster {
            width: 15%;
            img {
                width: 100%;
            }
        }
        &__info {
            &-cast {
                display: none;
            }
        }
    }
}
