.detail {
    position: relative;
    .bg {
        position: fixed;
        top: 0;
        left: 0;
        background: $black;
        @include size(100vw,100vh);
        z-index: 0;
        img {
            @include size(100%,100%);
            object-fit: cover;
        }
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            @include size(100%,60vw);
            background-image: linear-gradient(to top, $black, transparent);
        }
    }
    .movie {
        display: flex;
        @include size(100%,auto);
        position: relative;
        border: 0;
        padding-top: 40vh;
        color: $white;
        margin: 0;
        .content {
            display: flex;
            flex-wrap: wrap;
            @extend %flexStartBetween;
        }
        .title {
            width: 100%;
            font-size: 5em;
            line-height: 1em;
            margin: 0 0 20px;
        }
        &__data {
            width: 50%;
            &-main {
                display: flex;
                flex-wrap: wrap;
                @extend %flexCenterStart;
                width: 100%;
                margin-bottom: var(--gutter);
                .year {
                    display: block;
                    font-family: $title;
                }
                .rating {
                    display: flex;
                    @extend  %flexCenterStart;
                    width: auto;
                    max-width: 150px;
                    margin: 0 calc(var(--gutter) * 2);
                    &-stars {
                        transform: scale(1);
                        transform-origin: left center;
                        width: 100%;
                    }
                }
                .duration {
                    font-size: 0.8em;
                }
                .generes {
                    display: flex;
                    @extend %flexCenterStart;
                    width: 100%;
                    font-size: 0.9em;
                    margin-top: var(--gutter);
                    strong {
                        padding-right: 20px;
                    }
                    .genre {
                        position: relative;
                        color: $white;
                        padding-right: var(--gutter);
                        cursor: pointer;
                        &:after {
                            content: '/';
                            position: absolute;
                            top: 50%;
                            right: 10px;
                            font-size: 1.3em;
                            transform: translateY(-50%);
                        }
                        &:last-of-type {
                            &:after { display: none; }
                        }
                    }
                }
                .tagline {
                    display: block;
                    width: 100%;
                    font-family: $text;
                    font-style: italic;
                    margin: var(--gutter) 0 var(--gutter);
                }
                .description {
                    line-height: 1.5em;
                    margin-top: var(--gutter);
                }
            }
        }
        &__info {
            width: 45%;
            margin-left: 5%;
        }
    }
}
