// ==========================================================================
// #Base
// ==========================================================================

*, *:before, *:after {
	box-sizing: border-box;
}

*:focus { outline: none; }

a {
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

hr {
    margin-top: 25px;
    margin-bottom: 25px;
    border: 0;
    border-top: 1px solid #c1c6cb;
}

blockquote cite {
    font-weight: bold;
    display: block;
    margin: 10px 0 0;
}
