@font-face {
    font-family: "Hurme Geometric Sans 4 Blk";
    src: url("~@/assets/fonts/HurmeGeometricSans4W00Blk.eot"); /* IE9*/
    src: url("~@/assets/fonts/HurmeGeometricSans4W00Blk.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("~@/assets/fonts/HurmeGeometricSans4W00Blk.woff2") format("woff2"), /* chrome、firefox */
        url("~@/assets/fonts/HurmeGeometricSans4W00Blk.woff") format("woff"), /* chrome、firefox */
        url("~@/assets/fonts/HurmeGeometricSans4W00Blk.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url("~@/assets/fonts/HurmeGeometricSans4W00Blk.svg#Hurme Geometric Sans 4 W00 Blk") format("svg"); /* iOS 4.1- */
}

@font-face {
    font-family: "Hurme Geometric Sans 4 Bld";
    src: url("~@/assets/fonts/HurmeGeometricSans4W00Bld.eot"); /* IE9*/
    src: url("~@/assets/fonts/HurmeGeometricSans4W00Bld.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("~@/assets/fonts/HurmeGeometricSans4W00Bld.woff2") format("woff2"), /* chrome、firefox */
        url("~@/assets/fonts/HurmeGeometricSans4W00Bld.woff") format("woff"), /* chrome、firefox */
        url("~@/assets/fonts/HurmeGeometricSans4W00Bld.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url("~@/assets/fonts/HurmeGeometricSans4W00Bld.svg#Hurme Geometric Sans 4 W00 Blk") format("svg"); /* iOS 4.1- */
}

@font-face {
    font-family: "Hurme Geometric Sans 4 Rg";
    src: url("~@/assets/fonts/HurmeGeometricSans4W00Rg.eot"); /* IE9*/
    src: url("~@/assets/fonts/HurmeGeometricSans4W00Rg.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("~@/assets/fonts/HurmeGeometricSans4W00Rg.woff2") format("woff2"), /* chrome、firefox */
        url("~@/assets/fonts/HurmeGeometricSans4W00Rg.woff") format("woff"), /* chrome、firefox */
        url("~@/assets/fonts/HurmeGeometricSans4W00Rg.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url("~@/assets/fonts/HurmeGeometricSans4W00Rg.svg#Hurme Geometric Sans 4 W00 Blk") format("svg"); /* iOS 4.1- */
}

@import url('https://fonts.googleapis.com/css?family=Overpass:300,400,700,800,900&display=swap');

$light: 300;
$reg: 400;
$med: 700;
$bold: 800;
$extra: 900;


// $bold: 'Hurme Geometric Sans 4 Blk';
// $title: 'Hurme Geometric Sans 4 Bld';
// $text: 'Hurme Geometric Sans 4 Rg'
$text: 'Overpass';
