/* --- COLORS --- */

$white: #fff;
$black: #343434;
$water: #0be89a;
$silver: #dbdbdb;


/* --- EASING --- */
$cubic: cubic-bezier(0.77,0,.175,1);
$ease-out-quint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$ease-out-quart: cubic-bezier(0.165, 0.840, 0.440, 1.000);



:root {
    --site-gutter: 30px;
}
