/* --- COLORS --- */
$realBlack: #000;
$white: #fff;
$black: #0f0f0f;
$water: #0be89a;
$silver: #dbdbdb;
$yellow: #fcab10;


/* --- EASING --- */
$cubic: cubic-bezier(0.77,0,.175,1);
$ease-out-quint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$ease-out-quart: cubic-bezier(0.165, 0.840, 0.440, 1.000);



:root {
    --gutter: 30px;
    --head: 100px;
    --icon: 50px;

    --logoW: 190px;
    --logoH: 30px;

    --preWidth: 200px;
    --preHeight: 300px
}
